node_modules
dist
package-lock.json
package.json
.gitignore
.git/*
tsconfig.json
README.md
build
.env
*.log
coverage
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
.idea
.vscode
*.test.js
*.spec.js